html{
    /* font-family: "Crimson Text", serif; */
    background-color: #a2d5c6;
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23077b8a'/%3E%3Cstop offset='1' stop-color='%23a2d5c6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%235c3c92' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235c3c92' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%235c3c92' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235c3c92' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E"); */
background-attachment: fixed;
background-size: cover;
}
h1{
    text-align: center;
    /* color: #d72631; */
}

table {
    table-layout: fixed;
    width: 70%;
    /* margin: 0 auto; */
    border-collapse: collapse;
    padding: 3vw;
    font-family: 'Fuggles', cursive;
    color:  #077b8a;
   
  }
  

td{
    /* border: 1px solid black; */
    padding: 0vw;
    border: none;
    text-align: center;
font-size: 15vw;
}

.first-col{
    border-right: 3px solid   #5c3c92;
}

.second-col{
   border-right: 3px solid   #5c3c92;
}

.third-col{

}

tbody tr:nth-child(1n) {
    border-bottom: 3px solid   #5c3c92;
  }
  
  tbody tr:nth-child(2n) {
    border-bottom: 3px solid   #5c3c92;
  }
  
  tbody tr:nth-child(3n) {
   border-bottom: none;
  }
  
.container{
    display: flex;
}
 .game-options{
    display: flex;
 }

 .game-options img{
     width:15vw;
     height: 15vh;
     padding:3vh;
 }